* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-size: 100%;
    background-repeat: no-repeat;
}

body, a {
    color: #eaeaea;
}

.text--dark, .text--dark a {
    color: #555;
}

code, pre {
    font-family: courier new, Courier, monospace;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

.container {
    position: relative;
    z-index: 500;
    max-width: 25em;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-image-wrap {
    position: absolute;
    max-height: 100vh;
    overflow: hidden;
}

.bg-image {
    width: 100%;
}

.img-gradient {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-header {
    margin-bottom: 1em;
}

.section {
    margin-bottom: 3em;
}

.section.logo {
    margin-bottom: 1.2em;
}

.site-title { 
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
    padding-top: .8em;
    margin-bottom: 0;
}

.site-logo {
    max-width: 100%;
    max-height: 25vh;
    display: block;
    margin: 0 auto;
}

.description {
    text-align: center;
}

.links a {
    display: block;
    font-size: 2.4em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.links a .link-text {
    display: inline-block;
    transition: all .2s ease-out;
    word-wrap: break-word;
    max-width: 100%;
}

.links .link-subtitle {
    opacity: .8;
}

.links a:hover .link-text {
    transform: translateX(14px);
}

.link {
    margin-bottom: 1.2em;
}

.site-footer {
    margin-top: 100px;
    position: relative;
    z-index: 500;
    font-size: .8rem;
    padding: 15px;
    text-align: right;
}

.site-footer a {
    text-decoration: none;
    font-weight: 600;
}

.text--light .site-footer a:hover {
    color: #eaeaea;
}

.text--dark .site-footer a:hover {
    color: #555;
}

@media(max-width: 768px) {
    body {
        font-size: 1rem;
    }
    .links a {
        font-size: 2em;
    }
}

@media(max-width: 25em) {
    .description {
        text-align: left;
    }
}