<title>{{ .Site.Data.content.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ with .Site.Data.content.description}}
<meta name="description" content="{{ plainify . }}" />
<meta name="og:description" content="{{ plainify . }}" />
{{ end }}
{{ with .Site.Data.content.logo }}
<meta name="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}" />
{{ end }}
{{ with .Site.Data.content.favicon }}
<link rel="shortcut icon" href="/images/{{ . }}">
{{ end }}
{{ $css := resources.Get "css/styles.css" }}
<link rel="stylesheet" type="text/css" href="{{ (resources.Minify $css).RelPermalink }}" />
<style>
.links a:hover .link-text {
    color: {{ .Site.Data.appearance.accentColor }};
}
.site-footer a {
    color: {{ .Site.Data.appearance.accentColor }};
}
</style>